a {
    color: red;
}

#canv {
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    background-color: white;
    margin: 0px;
}

body {
    background-color: rgba(150,200,255);
    padding: -10px;
}

.cross {
    cursor: crosshair;
}
